@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Inter:wght@400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #0F172A;
    color: #F8FAFC;
    font-family: Roboto, sans-serif;
}

.banner {
    background-image: linear-gradient(rgba(15,23,42,0.6), rgba(15,23,42,0.6)), url('../images/hero.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center center;
    position: relative;
}

.banner header {
    padding: 15px;
    color: #F8FAFC;
    position: sticky;
    top: 0;
    background: rgba(15,23,42,0.85);
    height: 30px;
}   

.home-nav {
    display: flex;
    position: relative;
    padding: 10px 90px;
    font-family: Roboto;
    text-transform: uppercase;
    left: -25px;
}

.home-nav .logo a {
    background-image: url("../images/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 170px;
    text-indent: -999999px;
    position: relative;
    margin: 0 -20px 0 -30px;
    top: -55px;
}

.home-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
}

.home-nav li {
    display: inline-block;
    margin-left: 25px;
}

.home-nav li:first-child {
    margin-left: 0;
}

.home-nav a {
    text-decoration: none;
    color: #F8FAFC;
    transition: transform .2s ease;
    display: inline-block;
}

.home-nav a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.home-nav div {
   margin-left: auto;
   position: relative;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    background-color: #1E293B;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #F8FAFC;
}

.dropdown-content a:hover {
    background-color: #374151;
    transform: none;
}

.home-nav .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.hero {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 0 100px;
    margin-top: 180px;
}

.hero p {
    margin-top: -12px;
    font-family: 'Inter';
    font-weight: 400;
    color: #E0E7FF;
}

.hero-buttons {
    display: flex;
}

.hero-buttons a {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: #F8FAFC;
    padding: 20px;
    display: inline-block;
    margin-left: 50px
}

.hero-buttons a:first-of-type {
    margin-left: 0;
}

.hero-buttons .btn-primary { 
    background-color: #5B8DEF;
    border-radius: 10px;
    transition: transform .2s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.hero-buttons .btn-primary:hover {
    transform: scale(1.1);
    background-color: #7BA6F8;
}

.hero-buttons .btn-secondary { 
    background-color: #A3D4FA;
    border-radius: 10px;
    transition: transform .2s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.hero-buttons .btn-secondary:hover {
    transform: scale(1.1);
    background-color: #A3D4FA;
}

.hero-text h1 {
    font-weight: 700;
    font-family: 'Poppins';
    max-width: 400px;
    color: #E0E7FF;
}

.guide {
    padding: 80px 10%;
    text-align: center;
}

.guide h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: #A3D4FA;
    margin-top: -30px;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.step {
    background: #1E293B;
    padding: 35px 25px;
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #F8FAFC;
}

.step:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.step h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #A3D4FA;
}

.step p {
    font-size: 16px;
    color: #E0E7FF;
    line-height: 1.6;
}

.features {
    padding: 100px 12%;
    background-color: #020617;
}

.features h2 {
    font-size: 38px;
    color: #E0E7FF;
    margin-bottom: 70px;
    text-align: left;
}

.feature-body {
    position: relative;
    padding-left: 40px;
}

.features-container {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    align-items: center;
    gap: 60px;
}

.features-image img {
    width: 100%;
    height: 500px;
    display: block;
    margin-left: auto;
    border-radius: 20px;
}

.feature-body::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: linear-gradient(to bottom, transparent, #5B8DEF, transparent);
}

.feature-item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 60px;
    transition: transform 0.3s ease;
}

.feature-item:hover {
    transform: translateX(8px);
}

.feature-icon {
    width: 38px;
    height: 38px;
    background: #5B8DEF;
    color: #020617;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 0 0 0 6px rgb(75, 70, 70)
}

.feature-content{
    margin-top: -15px;
}

.feature-content h3 {
    font-size: 22px;
    margin-bottom: 8px;
    color: #A3D4FA;
}

.feature-content p {
    font-size: 16px;
    color: #CBD5F5;
    line-height: 1.7;
    max-width: 520px;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0e172a;
    padding: 5rem;
}

.cta h2 {
    color: #020617;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.cta-container {
    display: flex;
    flex-direction: row;
    flex-direction: flex-start;
    background-color: #A3D4FA;
    border-radius: 16px;
    width: 70%;
    padding: 50px 30px 50px 30px;
}

.cta-information-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0.9;
    justify-content: center;
}

.cta-information-container p {
    color: #020617;
    font-size: 1.25rem;
}

.cta-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-button-container a {
    color: #A3D4FA;
    background-color: #020617;;
    text-decoration: none;
    border-radius: 4px;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.4rem;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: center;
    transition: transform .2s ease;
}

.cta-button-container a:hover {
    transform: scale(1.1);
}

#contact {
    background-color: #1E293B;
    padding: 30px 10%;         
    text-align: center;
    margin: 0 auto;
}

#contact h2 {
    font-size: 2.5rem;
    color: #5B8DEF;          
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.2rem;
    color: #E0E7FF;
    line-height: 1.6;
}

#contact a {
    color: #A3D4FA;
    text-decoration: none;
    transition: transform 0.2s ease;
}

#contact a:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #020617;
    padding: 10px;
}

@media screen and (max-width: 1023px) {
    .home-nav{
        padding-left: 30px;  
        padding-right: 30px; 
        font-size: 12px;
        top: 3px;
    }
}

@media screen and (max-width: 775px) {
    .home-nav{
        font-size: 10px;
    }

    .home-nav .logo a {
        width: 150px;
        height: 120px;
        top:-41px;
    }
}

@media screen and (max-width: 600px) {
    .home-nav{
        font-size: 8px;
    }
}

