.is-hidden {
    display: none;
    visibility: hidden;
}

.is-transparent {
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: absolute;
    top: 0;
}

.form {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
    height: 550px;
    width: 30%;
}


.form__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-bottom: 10px;

    transition: opacity 0.1s ease-in;
}

.form__content h1 {
    text-transform: uppercase;
}

.form__content h2 {    
    font-size: 0.9rem;
    font-weight: 100;
}

.form__input-box {
    position: relative;
    width: 100%;
}

.form__input {
    border: none;
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
    /* margin: 10px; */
    margin: 10px 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}

.form__input-icon {
    position: absolute;
    top: 38%;
    margin: 0;
    padding: 0;
    right: 8px;
}

.form__input:focus {
    outline-color: white;
    outline-style: solid;
    outline-offset: 5px;
    outline-width: 2px;
}

.form__button {
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 10px;
    width: 100%;
    background-color: #5B8DEF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    font-family: 'Inter';
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
    transition: scale 0.2s ease, opacity 0.2s ease;
    color: white;
    text-transform: uppercase;
}

.form__button:hover {
    scale: 1.05;
}

.form__error {
    color: red;
    font-size: 0.7rem;
    margin: -7px 0;
    padding: 0;
}

.form__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(91, 141, 239, 0.5);
    /* background-color: rgba(255, 255, 255, 0.3); */
    backdrop-filter: blur(30px);
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 20px;

    transform: translateY(0);
    transition: transform 0.4s ease;
}

.form__panel--active {
    transform: translateY(-80%);
}

.form__panel h4 {
    margin-bottom: 0px;
}

.form__button--dark {
    background: #0F172A;
}

.form__button--outline {
    background: none;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.form__remember-me {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    /* margin-bottom: -26px; */
}

.form__remember-me-checkbox {
    margin-right: 5px;
    border-style: none;
}

.form__remember-me p {
    font-size: 1rem;
}


